label.name, input.changeName, label.date, label.changeDate {
    width: 200px;
    display: inline-block;
}

ul li.done {
    background-color: lightgreen;
}

button.remove-button {
    background-color: red;
}