#map {
    width: 600px;
    height: 300px;
    border: 1px solid black;
}

.puzzle {
    cursor: grab;
}

#drag-target {
    width: 600px;
    height: 300px;
    position: relative;
    border: 1px solid black;
}

.drag-target-cell {
    position: absolute;
    border: 1px solid black;
}

#flex {
    display: flex;
}